body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.icon-container {
    text-align: center;
}
.icon-container img {
    max-width: 50%;
    min-width: 50px;
    margin-top: 0.5em;
}
.region-title {
    color: #7A7A7A;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}
.weather {
    font-size: 1.3em;
}
.w-day {
    background-color: #739EB9;
    color: #ffffff;
    padding-left: 0.5em;
    line-height: 1.5em;
}

.w-type {
    margin-top: 0.5em;
}
